body {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.character {
 
  background-color: rgb(41, 45, 53);
  border: 1px black solid;
  border-radius: 8px;
  /* height: 75vh; */
  width: 85vw;
  box-shadow: 5px 5px 15px  rgba(0,0,0,0.6);
  text-align: center;
color: white;
padding: 10px;
overflow: hidden;
}

.caracter__data {
  display: flex;
  justify-content: space-evenly;
}

.character__image {
max-height: 100%;
border-radius: 4px;
position: relative;
}

.caracter__info {
  margin-left: 5px;
  text-align: left;
}

.button-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character__btn {

  text-decoration: none;
  color:white;
  display: inline-block;
  padding: 12px 50px;
  background-color:rgb(41, 45, 53);
  border: 2px solid white;
  border-radius: 6px;
  max-height:30px;
}

.character__btn:hover {
  background-color: white;
  color: rgb(41, 45, 53);
}

@media (max-width: 660px) {

  .caracter__data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }